/** BASE STYLES **/

* {
  font-family: 'Raleway', sans-serif;
}

main {
  text-align: center;
}

body {
  font-family: "Raleway";
  font-weight: 200;
  margin: 0;
  background-color: #eee;
}

h1, h2, h3 {
  font-weight: 300;
}

form {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

input {
  margin: 0 5px;
  height: 40px;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

input {
  outline: none;
}

.hidden {
  display: none;
}


.logo {
  width: 150px;
}

table {
  width: 960px;
  margin: 0 auto;
}

table th {
  text-align: center;
}

table tr {
  text-align: center;
}

.table {
  text-align: center;
}

/** SEARCH **/


/** PLAYERS **/
.player {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player-image {
  float: left;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.player-image img {
  margin: 0 auto;
  height: 100%;
  width: auto;
  /*position: absolute;*/
}

.playerName {
  text-transform: capitalize;
}

.spinner {
  margin-top: 20vh;
}


/** STATS **/

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: solid 1px #555;
}

.stats p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.statNumber {
  font-size: 3em;
  font-weight: bold;
  font-family: sans-serif;
}

.row {
  border: solid 1px #555;
  border-radius: 4px;
  background-color: white;
  margin: 5px 0;
}

.statCol h3 {
  font-size: 2.2em;
}

/** SUGGESTIONS **/

.suggestions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
}

.suggestion {
  margin-bottom: 2px;
  font-size: 1em;
  background-color: white;
}

.suggestion:hover {
  color: white;
  background-color: gray;
}

.suggestion p {
  margin: 0 5px;
  padding: 0;
}
