/** BASE STYLES **/

main {
  text-align: center;
}

body {
  font-family: "Helvetica Neue";
  font-weight: 200;
  margin: 0;
  background-color: #eee;
}

h1, h2, h3 {
  font-weight: 300;
}

input {
  outline: none;
}

.hidden {
  display: none;
}

/** HEADER **/
.header {
  /*border-bottom: solid 1px #ED174C;*/
  background-color: silver;
  padding: 20px 0;
  color: white;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}
/** SEARCH **/

.search {
  color: #006BB6;
  padding: 20px 0;
}

.searchInput:focus {
  border: solid 1px #006BB6;
}

.formElement {
  border: solid 1px white;
  border-radius: 99em;
  padding: 5px 20px;
  margin: 0 10px;
}

.button {
  background-color: white;
  border: solid 1px;
}

.addPlayer {
  color: #3FC380;
  border-color: #3FC380;
}

.addPlayer:hover {
  color: white;
  background-color: #3FC380;
}

.clearPlayers {
  color: red;
  border: solid 1px red;
}

.clearPlayers:hover {
  color: white;
  background-color: red;
}

/** PLAYERS **/

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.player {
  margin: 20px 50px;
  padding: 5px 20px;
  border: solid 1px #006BB6;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

img {
  display: block;
  margin: 0 auto;
}

.spinner {
  margin-top: 20vh;
}

.remove-button {
  position: absolute;
  left: -25px;
  top: -25px;
}

.remove-button:hover .delete {
  stroke: red;
  transform: scale(20%);
}

#remove {
  height: 20px;
}

/** STATS **/

.stats {
  border: solid 1px #006BB6;
  margin: 10px 0;
  border-radius: 10px;
  background-color: white;
}

table {
  width: 100%;
}

/** SUGGESTIONS **/

.suggestions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
  background-color: white;
}

.suggestion {
  margin-bottom: 2px;
  font-size: 1em;
}

.suggestion:hover {
  color: white;
  background-color: #006BB6;
}

.suggestion p {
  margin: 0 5px;
  padding: 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}
