main {
  text-align: center;
}

body {
  font-family: "Helvetica Neue";
  font-weight: 200;
  margin: 0;
  background-color: #eee;
}

h1, h2, h3 {
  font-weight: 300;
}

.search {
  color: black;
  padding: 20px 0;
  margin-bottom: 40px;
}

.header {
  border-bottom: solid 3px #ED174C;
  padding: 20px 0;
  color: white;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.player {
  margin: 20px 50px;
  padding: 5px 20px;
  border: solid 3px #006BB6;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

.player:hover {
  background-color: #eee;
}

.stats {
  border: solid 3px #006BB6;
  margin: 10px 0;
  border-radius: 10px;
  background-color: white;
}


img {
  display: block;
  margin: 0 auto;
}

.formElement {
  border: solid 3px white;
  border-radius: 99em;
  padding: 5px 20px;
  font-size: 1.2em;
  margin: 0 10px;
}

.button {
  color: white;
}

.button:hover {
  background-color: #006BB6;
}

.spinner {
  margin-top: 20vh;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: 700ms;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: 700ms;
}

.remove-button {
  position: absolute;
  left: -25px;
  top: -25px;
}

.remove-button:hover .delete {
  stroke: red;
}

#remove {
  height: 20px;
}
